.container .rightSide-chatBox {
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

.container .rightSide-chatBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url("images/pattern.png"); */
    opacity: 0.06;
}

.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span {
    font-size: 0.8em;
    color: #555;
}

/* CHAT BOX */
.chatbox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c8;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        135deg,
        #dcf8c6 0%,
        #dcf8c6 50%,
        transparent 50%,
        transparent
    );
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_msg {
    justify-content: flex-end;
}

.friend_msg {
    justify-content: flex-start;
}

.friend_msg p {
    background: #fff;
    text-align: left;
}

.message.friend_msg p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        225deg,
        #fff 0%,
        #fff 50%,
        transparent 50%,
        transparent
    );
}

.chat_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_input ion-icon {
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chat_input ion-icon:nth-child(1) {
    margin-right: 15px;
}

.chat_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}