* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #d21f9c 0%,
    #a51790 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
}

.container {
  position: relative;
  width: 1298px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.container .leftSide {
  position: relative;
  flex: 30%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 22px;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.search_chat div {
  width: 100%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div input::placeholder {
  color: #bbb;
}

.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}

.chatlist {
  position: relative;
  height: calc(100% - 110px);
  overflow: auto;
}

.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.chatlist .block.active {
  background: #ebebeb;
}

.chatlist .block:hover {
  background: #f5f5f5;
}

.chatlist .block .imgBox {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.chatlist .block .details {
  position: relative;
  width: 100%;
}

.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  padding-left: 5%;
  width: 80%;
  height: 20px;
}

.chatlist .block .details .listHead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: #111;
}

.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.message_p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
