.container .rightSide-SwipeCard {
    background: linear-gradient(360deg, rgba(254, 172, 48, 0.2), rgb(255, 89, 64,0.2));
    flex: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
strong {
    font-size: 15px;
}

.container .rightSide-SwipeCard .person-card {
    position: relative;
    width: 50%;
    height: 85%;
    overflow: hidden;
    border-radius: 20px;
}

.container .rightSide-SwipeCard .the-card .the-back {
    padding: 20px;
    background-color: #ffffff;
}

.container .rightSide-SwipeCard .the-card .the-back p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .rightSide-SwipeCard .the-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0.3s;
}

.container .rightSide-SwipeCard .the-card:hover {
    transform: rotateY(180deg);
}

.container .rightSide-SwipeCard img {
    width: 100%;
    height: 100%;
}

.container .rightSide-SwipeCard .the-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    border: 2px solid brown;
    border-radius: 20px;
    transform: rotateY(180deg);
}

.container .rightSide-SwipeCard div ion-icon {
    font-size: 3em;
}